@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fluorescent-blue: #34F3FF;
  --cornflower: #579AFF;
  --violet:#866AFF;
  --heliotrope: #D861FF;
  --chinese-black: #131313;
  --light-silver: #D9D9D9;
  --palatinate-blue: #3644F8;
}

body {
  background-color: #000;
  color: #fff
}

@layer components {
  .bg-gradient {
    @apply bg-fillGradient /*opacity-70 blur-[182px]*/;
  }
}

@layer utilities {
  .side-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .side-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .side-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid rgba(255,255,255, 0.2);
  }

  .side-scrollbar::-webkit-scrollbar-thumb:hover {
    border-color: rgba(255,255,255, 0.4);
  }
}
